

.settings_section_title{
    border-bottom-width: 5px;
    border-bottom-color: rgb(105, 117, 101);

    background-color: rgb(24, 28, 20);
}

#settings_scrollable{
    display: flex;
    flex-direction: column;
}

#settings_back_button{
    margin: 0px;
}

.settings_section{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;

    background-color: rgb(24, 28, 20);
}

.controlls_member{
    width: 100% - 10px;
    height: 40px;

    margin: 5px;
}
.controlls_member_name{
    width: 80%;
    height: 40px;
}
.controlls_member_keyname{
    width: 20% - 5px;
    height: 40px;
    left: 80%;
}

.mouse_sensitivity_slider{
    background-color: rgb(24, 28, 20);
}

.controlls_member_keyname:hover{
    background-color: rgb(105, 117, 101);
}

.controlls_member_keyname:focus{
    background-color: rgb(105, 117, 101);
}