BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
SortIncludes: false
