IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -2
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 160
PointerAlignment: Left

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

SortIncludes: false
BinPackParameters: false
