<window>
    <default>
        <style src="resources/templates/style/general.css"></style>
        <style src="resources/templates/style/main.css"></style>
        <style src="resources/templates/style/settings.css"></style>
        
        <image class="background_image" src="resources/textures/ui/background.png"></image>
        <frame class = "vertical_flex center" width="500px" height="500px" id="main_menu_selection">
            <label onclick="setLayer('world_menu')" class="interactable menu_button">New Game</label>
            <label onclick="setLayer('settings')"   class="interactable menu_button">Settings</label>
        </frame>
    </default>
    <world_menu>
        <image class="background_image" src="resources/textures/ui/background_2.png"></image>
        <scrollable id="world_selection">
            
        </scrollable>
        <frame class="sidebar">
            <label onclick="setLayer('default')" class="back_button interactable">Back</label>
            <label onclick="setLayer('new_world_menu')" class="back_button interactable">New World</label>
        </frame>
    </world_menu>
    <new_world_menu>
        <frame class="create_frame">
            <label onclick="setLayer('world_menu')" class="back_button interactable" id="create_world_back">Go back</label>
            <label>New World Name:</label>
            <input id="new_world_name"></input>
            <label>New World Seed:</label>
            <input id="new_world_seed"></input>
            <label id="new_world_seed_regenerate" class="back_button interactable">Regenerate Seed</label>
            <label id="new_world_seed_preview_reset" class="back_button interactable">Update Preview</label>
            <label class="spacer"></label>

            <label id="create_new_world" class="back_button interactable">Create World</label>
        </frame>
        <frame id="world_preview_container">
            
        </frame>
    </new_world_menu>
    <settings>
        <image class="background_image" src="resources/textures/ui/background_2.png"></image>
        <scrollable class="amiddle_frame" id="settings_scrollable">
            <frame class = "settings_section">
                <label class="settings_section_title">Graphics</label>
                <frame class = "settings_section_content" width="100%">
                    <frame id="render_distance_container" class="controlls_member">
                        <label>Render distance:</label>
                        
                    </frame>
                </frame>
            </frame>

            <frame class = "settings_section">
                <label class="settings_section_title">Keybinds</label>
                <frame class = "settings_section_content" width="100%" id="keybind_container">

                </frame>
            </frame>
            
            <frame class = "settings_section">
                <label class="settings_section_title">Mouse</label>
                <frame class = "settings_section_content" width="100%">
                    <frame id="mouse_sensitivity_container" class="controlls_member">
                        <label>Sensitivity:</label>
                        
                    </frame>
                </frame>
            </frame>
        </scrollable>
        <label class="back_button interactable" id="settings_back_button" onclick="setLayer('default')">Back</label>
    </settings>
</window>