<window>
    <default>
        <style src="resources/templates/style/general.css"></style>
        <style src="resources/templates/style/main.css"></style>
        <style src="resources/templates/style/settings.css"></style>
        
        <frame class = "vertical_flex center" width="300px" height="500px" id="main_menu_selection">
            <label id="new_world" class="interactable menu_button">New World</label>
            <label onclick="setLayer('settings')"   class="interactable menu_button">Settings</label>
        </frame>
    </default>
    <world_menu>
        <image class="background_image" src="resources/textures/background.png"></image>
        <frame class = "middle_frame">
            <scrollable id="top_frame">
                
            </scrollable>
            <frame id="bottom_frame">
                <label onclick="setLayer('default')">Back</label>
                <label onclick="setLayer('new_world_menu')">New World</label>
            </frame>
        </frame>
    </world_menu>
    <new_world_menu>
        <frame class="middle_frame">

        </frame>
    </new_world_menu>
    <settings>
        <label class="interactable" id="settings_back_button" onclick="setLayer('default')">Back</label>
        <scrollable class="middle_frame" id="settings_scrollable">
            <frame class = "settings_section">
                <label class="settings_section_title">Keybinds</label>
                <frame class = "settings_section_content" width="100%" id="keybind_container">

                </frame>
            </frame>
            
            <frame class = "settings_section">
                <label class="settings_section_title">Mouse</label>
                <frame class = "settings_section_content" width="100%">
                    <frame id="mouse_sensitivity_container" width="100%" height="40px">
                        <label>Sensitivity:</label>
                        
                    </frame>
                </frame>
            </frame>
        </scrollable>
    </settings>
</window>