.interactable {
    border-width: 1px;
    border-color: rgb(105, 117, 101);
    background-color: rgb(60, 61, 55);
    margin: 10px;
}

.interactable:hover{
    background-color: rgb(105, 117, 101);
    border-color: rgb(60, 61, 55);
}

.vertical_flex{
    display: flex;
    flex-direction: column;
}

.vertical_flex_expand{
    display: flex;
    flex-direction: column;
}

#main_menu_selection{
    border-width: 1px;
    border-color: rgb(105, 117, 101);
    background-color: rgb(24, 28, 20);
}

.center{
    left: 50% - 50m;
    top: 50% - 50m;
}

#top_frame frame{
    margin: 10px;
    background-color: rgb(60, 61, 55);
}

#top_frame frame label{
    background-color: rgb(60, 61, 55);
    border-bottom-width: 5px;
    border-bottom-color: rgb(105, 117, 101);
}
.world_option_chunk_count_label{

}
#top_frame, #bottom_frame{
    border-width: 1px;
    border-color: rgb(105, 117, 101);
    background-color: rgb(24, 28, 20);
}

#new_world_name_label{
    margin: 0px;
}
scrollable{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

input{
    border-width: 1px;
    border-color: rgb(105, 117, 101);
    background-color: rgb(60, 61, 55);
    margin: 10px;
}