

.settings_section_title{
    border-bottom-width: 5px;
    border-bottom-color: rgb(2, 76, 170);

    border-left-width: 5px;
    border-left-color: rgb(2, 76, 170);

    background-color: rgb(6, 10, 51);
}

.settings_section{
    margin: 10px;
}

.controlls_member{
    margin: 5px;
}

.controlls_member_keyname{
    
}

.controlls_member_keyname:hover{
    background-color: rgb(2, 76, 170);
}

.controlls_member_keyname:focus{
    background-color: rgb(2, 76, 170);
}